/*html {
  background-color: powderblue;
}

body {
  background-color: powderblue;
}*/


#WAM td, #WAM th {
    border: 1px solid #ddd;
	border-collapse: collapse;
    padding: 8px;
}	

#ths {
	text-align: center;
}

#WAM {
	width = 100%;
}
